body {
  background-image: url("F:/PycharmProjects/Daxmitron/myapp/static/image/goi.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
}
@font-face {
   font-family: 'Material Icons';
   font-style: normal;
   font-weight: 400;
   src: url(F:/PycharmProjects/Daxmitron/myapp/static/css/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
   src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(F:/PycharmProjects/Daxmitron/myapp/static/css/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
        url(F:/PycharmProjects/Daxmitron/myapp/static/css/iconfont/MaterialIcons-Regular.woff) format('woff'),
        url(F:/PycharmProjects/Daxmitron/myapp/static/css/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  -moz-osx-font-smoothing: grayscale;

  font-feature-settings: 'liga';
}

.ddropdown {
    display: inline-block;
    background-color: #0288D1;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  background: #2c3e50;
  background-image: none;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
.select {
  position: relative;
  display: flex;
  width: 12em;
  line-height: 3;
  background: #1B5E20;
  overflow: hidden;
}
select {
  color: #fff;
  cursor: pointer;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #34495e;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}
